<%- include('header'); -%>
    <div class="container">
        <form method="POST">

            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input name="password" type="text" class="form-control" placeholder="New password">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <%- include('footer'); -%>