<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:400,800" rel="stylesheet">
    <title>THE SIMPLE</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
  


    <section class="blmenu_top">
      <div class="pull-left menu_cl">
        <div id="sidebarCollapse" class="humbermenu"><img src="/contenthandler/dav/themelist/custom.portal.theme.AGBank/custom/images/menubar.png" alt=""></div>
      </div>
      <div class="dropdown">
        <div class="bl_motk dropbtn">
          <span><a href="javascript:;">Sản phẩm dịch vụ<i class="fas fa-angle-down"></i></a></span>
        </div>
        <div class="bl_ct_motk dropdown-content">
          <div class="container">
            <ul>
    
    <li>
       <div class="img_item"><a href="/vn/ca-nhan/san-pham/gui-tien-agribank">
          <img src="/wcm/connect/ab31db38-8f66-4f95-b0fd-3139d7779f89/motk_1.png?MOD=AJPERES&amp;CACHEID=ROOTWORKSPACE-ab31db38-8f66-4f95-b0fd-3139d7779f89-mW1MdTQ" alt=""></a>
       </div>
       <div class="title_item"><a href="/vn/ca-nhan/san-pham/gui-tien-agribank">Gửi tiền Agribank</a></div>
    </li>
    
    
    <li>
       <div class="img_item"><a href="/vn/ca-nhan/san-pham/vay-von-agribank">
          <img src="/wcm/connect/cfda1310-a55e-4904-b257-8b41d98b0a5c/motk_3.png?MOD=AJPERES&amp;CACHEID=ROOTWORKSPACE-cfda1310-a55e-4904-b257-8b41d98b0a5c-mXEtGXm" alt=""></a>
       </div>
       <div class="title_item"><a href="/vn/ca-nhan/san-pham/vay-von-agribank">Vay vốn Agribank</a></div>
    </li>
    
    
    <li>
       <div class="img_item"><a href="/vn/ca-nhan/san-pham/the">
          <img src="/wcm/connect/c72f7f56-d9a5-4a77-a681-be9b752651f2/motk_2.png?MOD=AJPERES&amp;CACHEID=ROOTWORKSPACE-c72f7f56-d9a5-4a77-a681-be9b752651f2-m-8JatP" alt=""></a>
       </div>
       <div class="title_item"><a href="/vn/ca-nhan/san-pham/the">Thẻ Agribank</a></div>
    </li>
    
    
    <li>
       <div class="img_item"><a href="/vn/ca-nhan/san-pham/thanh-toan-chuyen-tien">
          <img src="/wcm/connect/fa564665-4326-4f1e-a623-b87a1954fa64/motk_4.png?MOD=AJPERES&amp;CACHEID=ROOTWORKSPACE-fa564665-4326-4f1e-a623-b87a1954fa64-mX5ClZD" alt=""></a>
       </div>
       <div class="title_item"><a href="/vn/ca-nhan/san-pham/thanh-toan-chuyen-tien">Thanh toán &amp; Chuyển tiền</a></div>
    </li>
    
    
    <li>
       <div class="img_item"><a href="/vn/ca-nhan/san-pham/bao-hiem">
          <img src="/wcm/connect/18d86b78-df76-47a9-ab1a-4017c67931cb/motk_7.png?MOD=AJPERES&amp;CACHEID=ROOTWORKSPACE-18d86b78-df76-47a9-ab1a-4017c67931cb-mXEtYl8" alt=""></a>
       </div>
       <div class="title_item"><a href="/vn/ca-nhan/san-pham/bao-hiem">Bảo hiểm</a></div>
    </li>
    
    
    <li>
       <div class="img_item"><a href="/vn/ca-nhan/san-pham/ngan-hang-dien-tu">
          <img src="/wcm/connect/dc3eca94-190c-4c36-9496-bc22312a32a3/motk_6.png?MOD=AJPERES&amp;CACHEID=ROOTWORKSPACE-dc3eca94-190c-4c36-9496-bc22312a32a3-mX5n.wP" alt=""></a>
       </div>
       <div class="title_item"><a href="/vn/ca-nhan/san-pham/ngan-hang-dien-tu">Ngân hàng điện tử</a></div>
    </li>
    <li>
      <div class="img_item"><a href="/vn/so-do-trang"><img src="/contenthandler/dav/themelist/custom.portal.theme.AGBank/custom/images/more.png" alt=""></a></div>
      <div class="title_item"><a href="/vn/so-do-trang">Xem thêm</a></div>
    </li>
    </ul>
          </div>
        </div>
      </div>
      <div class="logo_agr text-center hidden-sm">
        <a href="/vn/ca-nhan"><img src="/contenthandler/dav/themelist/custom.portal.theme.AGBank/custom/images/logo_agribank.png" alt=""></a>
      </div>
      <div class="pull-right menu_sc_right hidden-sm">
        <ul>
           <li>
          <div class="hl_tongdai"><a href="tel://1900558818">1900558818</a></div>				
           </li>
          <li class="bt_seachbox" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Tìm kiếm">
            <a href="javascript:;"><img src="/contenthandler/dav/themelist/custom.portal.theme.AGBank/custom/images/seach.png" alt=""></a>
          </li>
          <li data-toggle="tooltip" data-placement="bottom" title="" data-original-title="ATM và chi nhánh">
            <a href="/vn/atm-chi-nhanh"><img src="/contenthandler/dav/themelist/custom.portal.theme.AGBank/custom/images/location.png"></a>
          </li>
          <li data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Đăng nhập Ngân hàng trực tuyến">
            <a href="https://ibank.agribank.com.vn/ibank/index.jsp" target="_blank"><img src="/contenthandler/dav/themelist/custom.portal.theme.AGBank/custom/images/lock.png"></a>
          </li>
        </ul>
      </div>
      <div class="logo_mb hidden-md hidden-lg">
        <a href="/vn/ca-nhan"><img src="/contenthandler/dav/themelist/custom.portal.theme.AGBank/custom/images/logo_mb.png" alt=""></a>
      </div>
      <div class="coponent_mb pull-right hidden-md hidden-lg">
        <ul>
          <li><a class="phone_mb" href="tel:1900558818">1900558818</a></li>
          <li><a href="https://ibank.agribank.com.vn/ibank/index.jsp"><img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fgenk.vn%2Fdieu-gi-se-xay-ra-neu-ban-luyen-tap-the-chat-dien-cuong-nhu-naruto-trong-30-ngay-co-the-tro-thanh-hokage-duoc-hay-khong-20200124211921927.chn&psig=AOvVaw0b0EGTamxIiIUiB_uE_x0F&ust=1592297931150000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCIjqwJi6g-oCFQAAAAAdAAAAABAD" alt=""></a></li>
        </ul>
      </div>
    </section>
    </ul>
  </div>
</nav>
    