<%- include('header.ejs')%>
<link rel="stylesheet" href="/css/register.css">
<main>
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Chuyển tiền ngân hàng cực nhanh</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <!--? Brand Area Start -->
    <div class="main-w3layouts wrapper">
        <h1>Tạo tài khoản tiết kiệm!</h1>
        <div class="main-agileinfo">
            <div class="agileits-top">
                <form action="/save" method="post">
                    <div class="form-group">
                        <label class="d-block">Số tháng</label>
                        <div class="d-flex">
                            <select class="form-control mb-4" name="month">
                                <option value="1">1</option>
                                <option value="3">3</option>
                                <option value="6">6</option>
                                <option value="12">12</option>
                            </select>
                            <button type="button" class="form-control w-50 ml-auto" data-toggle="modal"
                                data-target="#exampleModal">
                                Xem bảng lãi suất gửi
                            </button>
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document" style="margin-top:10rem">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Bảng lãi suất gửi!</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <table class="table text-center">
                                                <thead>
                                                    <tr>
                                                        <th>Tháng</th>
                                                        <th>Lãi suất</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>3%</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>3.15%</td>
                                                    </tr>
                                                    <tr>
                                                        <td>6</td>
                                                        <td>6%</td>
                                                    </tr>
                                                    <tr>
                                                        <td>12</td>
                                                        <td>6.15%</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary form-control"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <input class="text" type="number" name="moneysend" placeholder="Số tiền" required autocomplete="off">
                    <p style="font-weight: bold;color:red"><%= error?error :""%></p>
                    <input type="submit" value="CONFIRM">
                </form>
                <p><a href="/"> Trang chủ</a></p>
            </div>
        </div>
        <ul class="colorlib-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <!-- Brand Area End -->
</main>
<%- include('footer.ejs')%>